@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/PlusJakartaSans-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/PlusJakartaSans-SemiBold.ttf") format("ttf");
}

@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/PlusJakartaSans-Bold.ttf") format("ttf");
}
